nav {
    background: transparent;
    font-size: 20px;
    padding: 10px;
    color: aliceblue;
    display: flex;
    justify-content: center;
}

.flex-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.co {
    color: darkmagenta;
    font-style: italic;
}

.username {
    color: white;
}

.username span{
    color: darkorchid;
    font-style: oblique;
    
}
